.contact {
  background-image: url("../assets/aqua-negative.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 90% 60%;
  background-size: cover;
  background-size: 50vmax;
  height: 120vh;
  padding-top: 10%;
  padding-left: 8%;

  text-align: center;
}

.form-cont {
  display: flex;
  flex-direction: column;
  width: 60vmin;
}

.book2 {
  font-size: 1.6rem;
  transition: all 0.2s ease-out;
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;

  background: none;
  cursor: pointer;
  padding: 10px 30px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
}

@media screen and (max-width: 375px) {
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0%;
  }
  .form-cont {
    width: 76vmin;
  }
}
