.FAQ {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-left: 8%;
  height: 100vh;

  position: relative;
  background-image: url("../assets/aqua-negative.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 90% 60%;
  background-size: cover;
  background-size: 50vmax;
}

.topic {
  margin-top: 2rem;
  width: 70%;
}
