a {
  text-decoration: none;
}

.nav {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 1rem;
}

.link {
  margin: 1rem;
  font-size: 1.25rem;
  transition: all 0.2s ease-out;
}

.link:hover {
  scale: 1.0025;
  text-shadow: 0.25rem 0.25rem 0.25rem rgb(134, 125, 125);
}
