.treatments {
  display: flex;
  flex-direction: column;
}

.treat-section {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.treat-section img {
  box-shadow: 0 -0.2rem 0.4rem 0.2rem rgba(40, 39, 39, 0.2);

  width: 60%;
}

.treat-section a {
  display: inline;
}

.treat-section p {
  width: 60%;
}

@media screen and (max-width: 600px) {
  .treat-section {
    width: 95%;
  }
}
