.treatments {
  display: flex;
  flex-direction: column;
}

.treat-section {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.treat-section img {
  width: 60%;
}

.treat-section a {
  display: inline;
}

.treat-section p {
  width: 60%;
}

@media screen and (max-width: 600px) {
  .treat-section {
    width: 95%;
  }
}
