.app {
  /* background-image: url("./assets/aqua-negative.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 90% 90%;
  background-size: 50%; */
}

.app > img {
  position: fixed;
}
